header{
  display: flex;
  padding: 10px;
  background: #F55A5A;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
  width: 550px;
  margin: auto;
  justify-content: center;
}
.wrapper{
  display: flex;
  margin: 20px;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;

}
.sub-wrapper{
  width: 450px;
}
.earth{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
h1{
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;;
}
.location-maps{
  display: flex;
  align-items: center;
}
.location{
  letter-spacing: 3px;
}
p{
  margin:10px;
  font-size: 12px;
}
a{
  font-size: 12px;
  justify-content:end;
}
img {
  width: 120px;
  height: 160px;
  border-radius: 5px;
}
.links{
  color: #918E9B;
}
.dates{
  font-weight: bold;
}